@mixin btn-carrito {
        background-color: rgb(237, 59, 59);
        font-size: 15px;
        border-radius: 8px;    
}
.tarjetas-carrito{
    display: flex;
    flex-direction: column;
}
.tarjeta-carrito{
    width: 250;
    margin: 10px;
}
.opciones-carrito{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    li{
        padding: 5px;
    }
    .btn-carrito{
        @include btn-carrito

    }
    .btn-carrito:hover {
        background-color: #e65c5c;
        color: white;
    }
}