header{
    background-color: #A11A1A;
    width: 100%;
}
.logo-contenedor{
    display: flex;
    justify-content: center;
}
.form-control{
    background-color:#9c4c4c ;
}
.container-fluid{
    width: 350px;
}
.menu-contenedor{
    display: flex;
    justify-content: end;
    padding-right: 5px;
    padding-bottom: 2px;
}