header {
  background-color: #A11A1A;
  width: 100%;
}

.logo-contenedor {
  display: flex;
  justify-content: center;
}

.container-fluid {
  width: 350px;
}

.menu-contenedor {
  display: flex;
  justify-content: end;
  padding-right: 5px;
  padding-bottom: 2px;
}

footer {
  background-color: #d11919;
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

footer a {
  color: rgb(174, 103, 103);
}

a {
  text-decoration: none;
  color: rgb(185, 40, 40);
}

.derechos-reserv {
  color: #3f0606;
  margin: 10px;
}

.txt-seguinos {
  padding-left: 10px;
}

.footer__li {
  color: #3f0606;
  margin: 10px;
  display: inline-block;
}

.tarjeta {
  width: 250px;
  margin: 10px;
}

.tarjeta-titulo {
  color: rgb(162, 46, 40);
  font-size: 20px;
  padding: 5px;
}

.tarjeta-precio {
  font-size: 17px;
  color: rgb(93, 26, 23);
}

.tarjeta-imagen {
  width: 100%;
}

.ventana-venta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}

.muestras {
  display: flex;
  flex-direction: column;
}

.foto-muestra {
  width: 100px;
  border: solid black 2px;
}

.imagen-compra {
  width: 405px;
  border: solid black 3px;
}

.descripcion-producto {
  border: solid rgb(96, 92, 92);
  margin-top: 5px;
  background-color: rgb(227, 151, 125);
}

.tarjetas-carrito {
  display: flex;
  flex-direction: column;
}

.tarjeta-carrito {
  width: 250;
  margin: 10px;
}

.opciones-carrito {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}
.opciones-carrito li {
  padding: 5px;
}
.opciones-carrito .btn-carrito {
  background-color: rgb(237, 59, 59);
  font-size: 15px;
  border-radius: 8px;
}

/*inicio de sesion*/
.logo-face {
  width: 40px;
}

.logo-google {
  width: 40px;
}

.btn {
  background-color: rgb(178, 47, 47);
  font-size: 15px;
  border-radius: 8px;
}

/*Regiostro*/
.form-control {
  background-color: #9c4c4c;
  border: 8px;
}

* {
  padding: 0%;
  margin: 0%;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: #DAA4A4;
}

ul {
  list-style: none;
}